input[type=range].sidy-range-input {
  -webkit-appearance: none;
  width: 100%;
  max-width: 320px;
  margin: 4.4px 0;
}

input[type=range].sidy-range-input:focus {
  outline: none;
}

input[type=range].sidy-range-input::-webkit-slider-runnable-track {
  width: 100%;
  height: 7.2px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6), 0px 0px 1px rgba(13, 13, 13, 0.6);
  background: #29abe2;
  border-radius: 5px;
  border: 1px solid #010101;
}

input[type=range].sidy-range-input::-webkit-slider-thumb {
  box-shadow: 1.5px 1.5px 1.1px #000000, 0px 0px 1.5px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.4px;
}

input[type=range].sidy-range-input:focus::-webkit-slider-runnable-track {
  background: #71c7ec;
}

input[type=range].sidy-range-input::-moz-range-track {
  width: 100%;
  height: 7.2px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6), 0px 0px 1px rgba(13, 13, 13, 0.6);
  background: #29abe2;
  border-radius: 5px;
  border: 1px solid #010101;
}

input[type=range].sidy-range-input::-moz-range-thumb {
  box-shadow: 1.5px 1.5px 1.1px #000000, 0px 0px 1.5px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range].sidy-range-input::-ms-track {
  width: 100%;
  height: 7.2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range].sidy-range-input::-ms-fill-lower {
  background: #1679a3;
  border: 1px solid #010101;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6), 0px 0px 1px rgba(13, 13, 13, 0.6);
}

input[type=range].sidy-range-input::-ms-fill-upper {
  background: #29abe2;
  border: 1px solid #010101;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6), 0px 0px 1px rgba(13, 13, 13, 0.6);
}

input[type=range].sidy-range-input::-ms-thumb {
  box-shadow: 1.5px 1.5px 1.1px #000000, 0px 0px 1.5px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background: #ffffff;
  cursor: pointer;
  height: 7.2px;
}

input[type=range].sidy-range-input:focus::-ms-fill-lower {
  background: #29abe2;
}

input[type=range].sidy-range-input:focus::-ms-fill-upper {
  background: #71c7ec;
}

input[type=range].custom-slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 11.4px 0;
}

input[type=range].custom-slider:focus {
  outline: none;
}

input[type=range].custom-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 3.2px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: var(--main-input-color);
  border-radius: 25px;
  border: 0px solid var(--main-input-color);
}

input[type=range].custom-slider::-webkit-slider-thumb {
  box-shadow: 0.9px 0.9px 1px rgba(94, 243, 140, 0), 0px 0px 0.9px rgba(118, 245, 157, 0);
  border: 2px solid var(--main-input-color);
  height: 26px;
  width: 26px;
  border-radius: 26px;
  background: #ffffff linear-gradient(to right, #fff calc(20% - 1.5px), #a9a9a9 20%, #fff calc(20% + 1.5px), #fff calc(50% - 1.5px), #a9a9a9 50%, #fff calc(50% + 1.5px), #fff calc(80% - 1.5px), #a9a9a9 80%, #fff calc(80% + 1.5px)) center/90% 40% no-repeat;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11.4px;
}

input[type=range].custom-slider:focus::-webkit-slider-runnable-track {
  background: var(--main-input-color);
}

input[type=range].custom-slider::-moz-range-track {
  width: 100%;
  height: 3.2px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: var(--main-input-color);
  border-radius: 25px;
  border: 0px solid var(--main-input-color);
}

input[type=range].custom-slider::-moz-range-thumb {
  box-shadow: 0.9px 0.9px 1px rgba(94, 243, 140, 0), 0px 0px 0.9px rgba(118, 245, 157, 0);
  border: 2px solid var(--main-input-color);
  height: 26px;
  width: 26px;
  border-radius: 26px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range].custom-slider::-ms-track {
  width: 100%;
  height: 3.2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range].custom-slider::-ms-fill-lower {
  background: var(--main-input-color);
  border: 0px solid var(--main-input-color);
  border-radius: 50px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}

input[type=range].custom-slider::-ms-fill-upper {
  background: var(--main-input-color);
  border: 0px solid var(--main-input-color);
  border-radius: 50px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}

input[type=range].custom-slider::-ms-thumb {
  box-shadow: 0.9px 0.9px 1px rgba(94, 243, 140, 0), 0px 0px 0.9px rgba(118, 245, 157, 0);
  border: 2px solid var(--main-input-color);
  height: 26px;
  width: 26px;
  border-radius: 26px;
  background: #ffffff;
  cursor: pointer;
  height: 3.2px;
}

input[type=range].custom-slider:focus::-ms-fill-lower {
  background: var(--main-input-color);
}

input[type=range].custom-slider:focus::-ms-fill-upper {
  background: var(--main-input-color);
}/*# sourceMappingURL=-my.css.map */