#app {

    .j-reset {
        position: absolute;
        left: 50%;
        margin-left: -100px;
        top: -18px;
        width: 200px !important;
        background: #d6dbdf;
        background: $active;
        color:#fff;
        line-height: 36px;
        padding: 0 10px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        -webkit-border-radius: 18px;
        -moz-border-radius: 18px;
        border-radius: 18px;
        &:hover{
            background: #cfd8dc;
        }
    }

    div,
    p,
    h3,
    input,
    button,
    select {
        margin-bottom: 20px;
    }

    h1,
    h2,
    h3 {
        font-size: 1.5rem;
        margin: 0;
    }

    .adress {
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 35px;

        input {
            flex-grow: 1;
        }

    }


    label {
        display: flex;
        justify-content: start;

        input {
            margin-right: 7px;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    input[type="checkbox"] {
        width: 25px !important;
    }

    .inline {
        display: flex;
        justify-content: start;

        label {
            font-weight: normal;
            flex-grow: 1;
            white-space: nowrap;
            margin-right: 7px;
        }
    }






}