//ipad air
@media (max-width: 820px) {
    #app {
        max-height: auto!important;
        .j-grid{
            .j-map, .j-data{
                width: 50% !important;
                height: 100% !important;
                box-sizing: border-box;
            }
            #map_canvas2 {
                width: 100% !important;
                height: 400px;
                // height: 100% !important;
                box-sizing: border-box;
            }

        } 

    }

}

//mos mobiles
@media (max-width: 480px) {
    #app {
        max-height: auto!important;
        .j-grid{
            flex-direction: column;
            .j-map, .j-data {
                width: 100% !important;
                box-sizing: border-box;
            }
            #map_canvas2 {
                width: 100% !important;
                box-sizing: border-box;
                height: 300px !important;
            }
        } 

    }
}