

.deep-blue {background-color: #0000ff !important;}

.deep-blue-text {color: #0000ff !important;}

.deep-blue-l-5 {background-color: #ccccff !important;}

.deep-blue-tx-l-5 {color: #ccccff !important;}

.deep-blue-l-4 {background-color: #9999ff !important;}

.deep-blue-tx-l-4 {color: #9999ff !important;}

.deep-blue-l-3 {background-color: #6666ff !important;}

.deep-blue-tx-l-3 {color: #6666ff !important;}

.deep-blue-l-2 {background-color: #3333ff !important;}

.deep-blue-tx-l-2 {color: #3333ff !important;}

.deep-blue-l-1 {background-color: #1a1aff !important;}

.deep-blue-tx-l-1 {color: #1a1aff !important;}

.deep-blue-d-1 {background-color: #0000cc !important;}

.deep-blue-tx-d-1 {color: #0000cc !important;}

.deep-blue-d-2 {background-color: #000099 !important;}

.deep-blue-tx-d-2 {color: #000099 !important;}

.deep-blue-d-3 {background-color: #000066 !important;}

.deep-blue-tx-d-3 {color: #000066 !important;}

.deep-blue-d-4 {background-color: #000033 !important;}

.deep-blue-tx-d-4 {color: #000033 !important;}

.deep-blue-d-5 {background-color: #00001a !important;}

.deep-blue-tx-d-5 {color: #00001a !important;}

.blue {background-color: #1e87f0 !important;}

.blue-text {color: #1e87f0 !important;}

.blue-l-5 {background-color: #e7f2fd !important;}

.blue-tx-l-5 {color: #e7f2fd !important;}

.blue-l-4 {background-color: #cfe6fc !important;}

.blue-tx-l-4 {color: #cfe6fc !important;}

.blue-l-3 {background-color: #9fccf9 !important;}

.blue-tx-l-3 {color: #9fccf9 !important;}

.blue-l-2 {background-color: #6fb3f6 !important;}

.blue-tx-l-2 {color: #6fb3f6 !important;}

.blue-l-1 {background-color: #3f99f3 !important;}

.blue-tx-l-1 {color: #3f99f3 !important;}

.blue-d-1 {background-color: #0c66c0 !important;}

.blue-tx-d-1 {color: #0c66c0 !important;}

.blue-d-2 {background-color: #094d90 !important;}

.blue-tx-d-2 {color: #094d90 !important;}

.blue-d-3 {background-color: #063360 !important;}

.blue-tx-d-3 {color: #063360 !important;}

.blue-d-4 {background-color: #031a30 !important;}

.blue-tx-d-4 {color: #031a30 !important;}

.blue-d-5 {background-color: #020d18 !important;}

.blue-tx-d-5 {color: #020d18 !important;}


.light-blue {background-color: #03befc !important;}

.light-blue-text {color: #03befc !important;}

.light-blue-l-5 {background-color: #e6f8ff !important;}

.light-blue-tx-l-5 {color: #e6f8ff !important;}

.light-blue-l-4 {background-color: #cdf2fe !important;}

.light-blue-tx-l-4 {color: #cdf2fe !important;}

.light-blue-l-3 {background-color: #b3ebfe !important;}

.light-blue-tx-l-3 {color: #b3ebfe !important;}

.light-blue-l-2 {background-color: #68d8fd !important;}

.light-blue-tx-l-2 {color: #68d8fd !important;}

.light-blue-l-1 {background-color: #0298ca !important;}

.light-blue-tx-l-1 {color: #0298ca !important;}

.light-blue-d-1 {background-color: #0298ca !important;}

.light-blue-tx-d-1 {color: #0298ca !important;}

.light-blue-d-2 {background-color: #027297 !important;}

.light-blue-tx-d-2 {color: #027297 !important;}

.light-blue-d-3 {background-color: #014c65 !important;}

.light-blue-tx-d-3 {color: #014c65 !important;}

.light-blue-d-4 {background-color: #012632 !important;}

.light-blue-tx-d-4 {color: #012632 !important;}

.light-blue-d-5 {background-color: #001319 !important;}

.light-blue-tx-d-5 {color: #001319 !important;}



.red {background-color: #ff0000!important;}

.red-text {color: #ff0000 !important;}

.red-l-5 {background-color: #ffe6e6 !important;}

.red-tx-l-5 {color: #ffe6e6 !important;}

.red-l-4 {background-color: #ffcccc !important;}

.red-tx-l-4 {color: #ffcccc !important;}

.red-l-3 {background-color: #ff9999 !important;}

.red-tx-l-3 {color: #ff9999 !important;}

.red-l-2 {background-color: #ff6666 !important;}

.red-tx-l-2 {color: #ff6666 !important;}

.red-l-1 {background-color: #ff3333 !important;}

.red-tx-l-1 {color: #ff3333 !important;}

.red-d-1 {background-color: #cc0000 !important;}

.red-tx-d-1 {color: #cc0000 !important;}

.red-d-2 {background-color: #990000 !important;}

.red-tx-d-2 {color: #990000 !important;}

.red-d-3 {background-color: #660000 !important;}

.red-tx-d-3 {color: #660000 !important;}

.red-d-4 {background-color: #330000 !important;}

.red-tx-d-4 {color: #330000 !important;}

.red-d-5 {background-color: #1a0000 !important;}

.red-tx-d-5 {color: #1a0000 !important;}









































